#logo {
    border-radius: 50%;
    margin-bottom: 20px;
}

#avatar {
    border-radius: 50%;
    border: 3px solid #333;
}
#name {
    color: #2c3e50;
}

#title {
    font-style: italic;
    color: #555;
}

/* Секції */
.section-title {
    font-weight: bold;
    color: #e67e22;
}
#hobbies li, #menu li {
    margin: 5px 0;